


.bubble-and-input{padding: 1.5rem;width: 24rem; background: #18181B;margin: 1rem 0 1rem 1rem;min-height: 84vh;
  border: 1px solid #FFFFFF29;border-radius: .7rem;
}

.bubble-and-input-light{padding: 1.5rem;width: 24rem; background:white;margin: 1rem 0 1rem 1rem;min-height: 84vh;
  border: 1px solid #FFFFFF29;border-radius: .7rem;
}


.creating-form{ width: 100%;display: flex;flex-direction: row;}
.form-preview{width: 24rem; margin-left: 20rem;}

.Chat-hiatory{ width: 100%;display: flex;flex-direction: column;}


.text-button ,.gif-button,.image-button ,.video-button,.button-button,
.number-button ,.phone-button,.email-button ,.rating-button,.date-button
{border-radius: .5rem ;
  height: 40px;cursor: pointer;
  width: 10rem;border: 1px solid #65656969;
  padding-top: .5rem;
  background: #FFFFFF14;
}

.text-button-light ,.gif-button-light,.image-button-light ,.video-button-light,.button-button-light,
.number-button-light ,.phone-button-light,.email-button-light ,.rating-button-light,.date-button-light
{border-radius: .5rem ;
  height: 40px;cursor: pointer;
  width: 10rem;border: 1px solid #65656969;
  padding-top: .5rem;
  background: white;
}




.button-button span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: white;}
.number-button span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: white;}
.email-button span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: white;}
.phone-button span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: white;}
.date-button span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: white;}
.rating-button span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: white;}


.button-button-light span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: black;}
.number-button-light span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: black;}
.email-button-light span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: black;}
.phone-button-light span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: black;}
.date-button-light span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: black;}
.rating-button-light span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: black;}


.button-button img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}
.phone-button img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}
.email-button img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}
.number-button img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}
.date-button img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}
.rating-button img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}



.button-button-light img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}
.phone-button-light img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}
.email-button-light img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}
.number-button-light img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}
.date-button-light img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}
.rating-button-light img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}




.text-button span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: white;}
.gif-button span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: white;}
.image-button span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: white;}
.video-button span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: white;}




.text-button-light span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: black;}
.gif-button-light span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: black;}
.image-button-light span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: black;}
.video-button-light span
{margin: .1rem .3rem 0  3rem;position: absolute;font-family:'Roboto',sans-serif;
font-size: 1rem;
font-weight: 400;color: black;}


.text-button img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}
.gif-button img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}
.video-button img
{ position: absolute;margin: .1rem .3rem 0  1.5rem; border: none;}
.image-button img
{ position: absolute;margin: .1rem .3rem 0  1.5rem; border: none;}

.text-button-light img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}
.gif-button-light img
{ position: absolute;margin: .3rem .3rem 0  1.5rem; border: none;}
.video-button-light img
{ position: absolute;margin: .1rem .3rem 0  1.5rem; border: none;}
.image-button-light img
{ position: absolute;margin: .1rem .3rem 0  1.5rem; border: none;}




.Bubbles
{
  display: flex;flex-direction: row;
  width: 21rem;margin-bottom: 1rem;
  border: none;gap: 1rem;
    flex-wrap: wrap;
 
}

.createform-container{ background: #1F1F23;
  height: auto; 
  min-height: 110vh;}
.createform-container-light{ background: #ffffff;
  height: auto; 
  min-height: 110vh;}

  

.form-added-item{width: 315px;
height: 119px;background: #18181B;
border-radius: 1rem; padding: 1rem;position: relative;
margin-bottom: 1rem;
}
.createform-header{height: 4rem;border-bottom: 1px solid #FFFFFF29;display: flex;flex-direction: row;}
.createform-header-light{height: 4rem;border-bottom: 1px solid #65656969;display: flex;flex-direction: row;}

.added-item-name{font-family:'Roboto',sans-serif;
font-size: 1.5rem;
font-weight: 400;color: white;}


.bubble-input{width: 100%;border-radius: .5rem;
  color: rgb(255, 255, 255);height: 3rem; border: none;background: #1F1F23;
 padding-left: .5rem;
}

.bubble-input-outer{width: 100%;border-radius: .5rem;display: flex;flex-direction: row;
  color: rgb(255, 255, 255);height: 3rem; border: none;background: #1F1F23;
  margin-top: .5rem;padding-left: .5rem;
}
.bubble-input-outer img{width: 1rem;height: 1rem;margin-top: 1rem;}

.darklight-mode-form{display: flex;flex-direction: row;color: #FFFFFFEB;right: 18rem;position: absolute;
margin-top: 1rem;font-family:'Roboto',sans-serif;
}
.togglelable{margin: .4rem .5rem 0 .5rem;}
.togglelable-light{margin: .4rem .5rem 0 .5rem;color: black;}

.share-form{width: 4rem;position: absolute;right: 10rem;
   padding: 0;
    height: 1.7rem;
    border-radius: 6px;cursor: pointer;
    color: white;margin-top: 1rem;
    border: none;
    background: #1A5FFF;
    font-family:'Roboto',sans-serif;
    font-size: 15px;
    line-height: 21.6px;}

.goback{position: absolute;right: 2rem;margin-top: 1rem;}

    .save-form{
    width: 4rem;
    position: absolute;
    right: 4.5rem;
    padding: 0;cursor: pointer;
    height: 1.7rem;
    border-radius: 6px;
    color: white;margin-top: 1rem;
    border: none;
    background: #4ADE80CC;
    font-family:'Roboto',sans-serif;
    font-size: 15px;
    line-height: 21.6px;}

.form-div-selected{
  width: 4.5rem;padding-left: 1rem;padding-top: .3rem;
    margin: 1rem  0  0 0 ;cursor: pointer;
    height: 2rem;justify-content: center;
    border-radius: 6px;border: 1px solid #7EA6FF;
    color: #7EA6FF;
    background: transparent;
    font-family:'Roboto',sans-serif;left: 40%;position: absolute;
    font-size: 15px;
}
.form-div{
     width: 4.5rem;padding-left: 1rem;padding-top: .3rem;
    margin: 1rem  0  0 0 ;cursor: pointer;
    height: 2rem;justify-content: center;
    border-radius: 6px;border: none;
    color:white;
    background: transparent;
    font-family:'Roboto',sans-serif;left: 40%;position: absolute;
    font-size: 15px;}



    .response-div-selected{
    width: 6rem;padding-left: 1rem;padding-top: .2rem;
    margin: 1rem  0  0 0 ;
    height: 2rem;justify-content: center;
    border-radius: 6px;border: 1px solid #7EA6FF;
    color: #7EA6FF;cursor: pointer;
    background: transparent;
    font-family:'Roboto',sans-serif;left:48%;position: absolute;
    font-size: 15px;
    
}
.response-div{
  width: 6rem;padding-left: 1rem;padding-top: .2rem;
   margin: 1rem  0  0 0 ;
    height: 2rem;justify-content: center;
    border-radius: 6px;border: none;
    color:white;cursor: pointer;
    background: transparent;
    font-family:'Roboto',sans-serif;left: 48%;position: absolute;
    font-size: 15px;}

.form-name{position: absolute;
    top: .9rem;padding-left: 1rem;
    border: 1px solid #37373E;
    border-radius: .4rem;
    font-family: 'Roboto', sans-serif;
    left: 1%;color: white;
    height: 2rem;
    background: #37373E;
    width: 250px;
    z-index: 10;}



    .form-name-light{position: absolute;
    top: .9rem;padding-left: 1rem;
    border: 1px solid #37373E;
    border-radius: .4rem;
    font-family: 'Roboto', sans-serif;
    left: 1%;color: rgb(0, 0, 0);
    height: 2rem;
    background: white;
    width: 250px;
    z-index: 10;}

.start-flag{width: 315px;margin:3rem 0  3rem 0;
border-radius: .5rem;
  color: rgb(255, 255, 255);height: 3.5rem; border: none;background: #18181B;
  padding-left: .5rem;}

  .start-flag img{position: absolute;margin: 1rem; }
  .start-flag span{position: absolute; font-family:'Roboto',sans-serif;
font-size: 1.5rem;margin: .7rem 0 .7rem 3.5rem;
font-weight: 400;color: white;}

.delete-added-item{position: absolute;padding: .2rem 0 0 .3rem;
  left: 19rem; bottom:6rem ;height: 2rem;width: 2rem;border-radius: 2rem;border: 1px solid #5b5353;background-color: #5b5353;
  cursor: pointer; }
  
.heading-input-bubble{color: white; font-family:'Roboto',sans-serif;margin-bottom: 1rem;font-size: 20px;font-weight: 400;}
.heading-input-bubble-light{color: rgb(0, 0, 0); font-family:'Roboto',sans-serif;margin-bottom: 1rem;font-size: 20px;font-weight: 400;}

.form-workspace-statistics{width: 24rem;display: flex;flex-direction: row;justify-content: space-between;
height: 6rem; margin: 4rem 0 0 30rem;
}


.form-workspace-statistics-view-start{width: 8rem; height: 50%;border-radius: 1rem 1rem 0 0 ;background: #323232;display: flex; 
padding: 1rem 0 0 1rem;;font-family:'Roboto',sans-serif;
font-size: 1rem;letter-spacing: 1px;
font-weight: 400;color: white;
}

.form-workspace-statistics h4{width: 8rem; height: 50%;border-radius:0 0 1rem 1rem ;background: #323232;display: flex; 
padding: 0 0 0 1rem;;font-family:'Roboto',sans-serif;
font-size: 1rem;letter-spacing: 1px;
font-weight: 400;color: white;}




.no-chat-history h1{color: #69696973;margin: 15rem 0 0 30rem;;font-family:'Roboto',sans-serif;
}

.form-response {
  max-width: 70%;
  max-height: 15rem;
  overflow: scroll; 
  position: relative;
}
.form-response::-webkit-scrollbar {
  width: 5px;
}
.form-response::-webkit-scrollbar-horizontal {
  height: 8px; 
}
.form-response::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px; 
}
.form-response::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px; 
}
.form-response::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.form-response-container{ display: flex; height: auto;
  justify-content: center; margin-top: 5rem;
  align-items: center; }

  .pieChart{display: flex;
  justify-content: center; margin-top: 5rem;margin-bottom: 5rem;
  align-items: center;}

  .complete-rate{width: 10rem; height: 2rem;border-radius: 1rem 1rem 0 0 ;background: #323232;display: flex; 
padding: .5rem 0 0 1rem;;font-family:'Roboto',sans-serif;
font-size: 1rem;letter-spacing: 1px;margin-left: 5rem;
font-weight: 400;color: white;}

.complete-rate-container h4{width: 10rem; height: 2.5rem;border-radius:  0 0 1rem 1rem;background: #323232;display: flex; 
padding: .5rem 0 0 1rem;;font-family:'Roboto',sans-serif;
font-size: 1rem;letter-spacing: 1px;margin-left: 5rem;
font-weight: 400;color: white;}



