

.login-container {background: linear-gradient(0deg, #121212, #121212),
linear-gradient(0deg, #171923, #171923),
linear-gradient(0deg, #171923, #171923);
  height: 114vh

}

.back-arrow{
  position: absolute;left: 5%;cursor: pointer;
  top: 5%; 
}
.triangle {
  position: absolute;
  top: 25%; 
}

.circle-pink { position: absolute;
  top: 20%;
  right: 0}
  

.login-circle-orange { position: absolute;
  bottom: 0; top: 95%;
  right:  22%;
  
}

.login-form {
 position: absolute;
    top: 20%;
    left: 38%;width: 20rem;
 
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
 color: white;  font-family:'Roboto',sans-serif;

}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: #2c2c2c;
  border: 1px solid #555;
  border-radius: .6rem;
  color: #fff;
  font-size: 14px;
}

form input::placeholder {
  color: #aaa;
}

form .login-btn {
  width: 100%;
  padding: 10px;
  margin: 1rem 0 1rem 0;
  border: none;
 border-radius: .6rem;
  cursor: pointer;
  font-size: 16px;
    background-color: #007bff;
  color: #fff;
}

form span{margin-left: 2rem;color: white;font-size: .9rem;}

form .google-btn {
  width: 100%;
  padding: 5px;
   display: flex;
   background-color: #007bff;
  color: #fff;
 margin: 1rem 0 1rem 0;
  border: none;
 border-radius: .6rem;
  cursor: pointer;
  font-size: 16px;
  
}


 .google-btn  p{ font-size: 1rem;padding: .5rem 0 0 3rem}



form p {
  text-align: center;
  font-size: 14px;color: white;
 
}

form  a {
  color: #1A5FFF;;
  text-decoration: none;
}

form  a:hover {
  text-decoration: none;
}
