.icon-before {  background: #2c2c2c;border: 1px solid #555;
  border-style:solid hidden solid solid   ; border-radius:   .6rem  0 0 .6rem ;
  margin-bottom: 15px; margin-left: 0;}

  .icon-after {  background: #2c2c2c;border: 1px solid #555;cursor: pointer;
  border-style:solid  solid solid hidden  ; border-radius:  0 .6rem  .6rem 0;
  margin-bottom: 15px; margin-right: 0;margin-left: 0;}

.nameinput{padding: 10px;
  margin-bottom: 15px;
  background: #2c2c2c;
  border: 1px solid #555;
  border-style:solid solid solid hidden   ;
  border-radius: 0 .6rem .6rem 0  ;
  color: #fff;
  font-size: 14px;}


.setting-form-input {
  padding: 10px;width: 100%;
  margin-bottom: 15px;
  background: #2c2c2c;
  border: 1px solid #555;
  border-style:solid hidden solid hidden   ;
  border-radius: 0  ;
  color: #fff;
  font-size: 14px;
}
.input-div{display: flex;flex-direction: row; width: 100%;}

.setting-form{ position: absolute;
    top: 20%;
    left: 38%;width: 20rem;}


 .setting-container {   background: #1F1F23; height: 100vh}
 .setting-container h4{position: absolute;top: 10%;left: 47%;color: white;font-family:Open Sans;
font-size: 18px;
font-weight: 500;
line-height: 21.6px;}

.logout-btn{position: absolute;left: 3rem; bottom: 3rem;cursor: pointer;}